GoogleLeadGen/Lead Generator _ Add Updates for S-Tag on Monday.com.json
{
  "name": "Lead Generator | Add Updates for S-Tag on Monday.com",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        432
      ],
      "id": "4169b258-42d4-4942-ac27-914b517203ea",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lead-gen-ui-v3.vercel.app/api/webhook/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.execution.error.message }}\",\n  \"failed_node\": \"{{ $json.execution.lastNodeExecuted }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        432
      ],
      "id": "f876abc2-d551-4157-ad03-c09758791795",
      "name": "Error Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lead-gen-ui-v3.vercel.app/api/webhook/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Success\",\n  \"message\": \"Added the Update on Monday.com\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        784,
        752
      ],
      "id": "4822f587-3097-4d26-b612-9950a138c19a",
      "name": "Success Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nreturn { json: body };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        752
      ],
      "id": "9568344b-62b4-412d-881d-a53ee14430ee",
      "name": "Tidy up the data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-updates-for-stag",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        752
      ],
      "id": "a853d52d-98db-4eba-bb58-8684f83271cf",
      "name": "Webhook",
      "webhookId": "3de623ad-5be1-4df6-8c06-9ca98a0a77a6"
    },
    {
      "parameters": {
        "jsCode": "const cleaned_domain = $input.first().json.domain\n  .replace(/^https?:\\/\\//, '')  // strip http/https\n  .replace(/\\/$/, '');           // strip trailing slash\n\nreturn { ...$input.first().json, cleaned_domain };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        752
      ],
      "id": "91430a36-1a63-41c1-8439-8c4c5b87ed07",
      "name": "Clean up the domain"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.monday.com/v2",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"mutation { create_update (item_id: {{ $json.item_id }}, body: \\\"{{ $json.cleaned_domain }} {{ $json.brand }} {{ $json.s_tag }}\\\") { id } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        656
      ],
      "id": "03d96c2b-7137-4ed7-bd2a-4e01f85cc22a",
      "name": "HTTP Request",
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "Rzofxc55twsSzLrK",
          "name": "Monday.com Credentials"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "s_tags_table",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "s_tag_autoinc_id",
              "condition": "eq",
              "keyValue": "={{ $json.s_tag_autoinc_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=Update Added on Monday.com"
            },
            {
              "fieldId": "source_link",
              "fieldValue": "N/A"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        752
      ],
      "id": "b3c63649-e78a-4c2b-8cc1-a190c82f76ba",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "3pZY0Hn00hvx9tLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca771d63-fd9c-4a6d-a152-8ca6e9846745",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        848
      ],
      "id": "933491e7-4589-4904-8908-3ef97ebeae47",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        336,
        752
      ],
      "id": "f9ea95d3-a64b-4871-a758-ab5890bdf5b3",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "automateoptinet.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 OPR/127.0.0.0",
            "content-length": "171",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2001:fd8:19c0:4421:f188:55a1:e6d:1bb6",
            "cf-ew-via": "15",
            "cf-ipcountry": "PH",
            "cf-ray": "9d9b2a30eb4690e4-HKG",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "http://localhost:5173",
            "priority": "u=1, i",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Opera GX\";v=\"127\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2001:fd8:19c0:4421:f188:55a1:e6d:1bb6, 172.68.211.202",
            "x-forwarded-host": "automateoptinet.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-31-55446f5479-p5vzm",
            "x-is-trusted": "yes",
            "x-real-ip": "2001:fd8:19c0:4421:f188:55a1:e6d:1bb6"
          },
          "params": {},
          "query": {},
          "body": {
            "s_tag_autoinc_id": 202,
            "s_tag_id": 13,
            "s_tag": "654425",
            "brand": "betninja",
            "domain": "https://best.onlinecasinosinnewzealand.com",
            "board_id": 1237788929,
            "item_id": 1237399152
          },
          "webhookUrl": "https://automateoptinet.app.n8n.cloud/webhook-test/add-updates-for-stag",
          "executionMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy up the data": {
      "main": [
        [
          {
            "node": "Clean up the domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tidy up the data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean up the domain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Success Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7f72e124-bb0e-482b-9403-730afe782fa2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70ec52cbe8e7b6f9fc2236b6bc74924c4ee7ffd65416535bf96f67e9482b67d8"
  },
  "id": "ZXz1bC0XltJ8qsKB",
  "tags": []
}