GoogleLeadGen/Lead Generator _ Check S-tags from Monday.com replica.json
{
  "name": "Lead Generator | Check S-tags from Monday.com replica",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -112,
        1808
      ],
      "id": "2afc4a19-1a0f-43e5-8d81-25d147294de4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee76d63e-d6e5-49c4-91b6-e87c30710bb6",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        1424
      ],
      "id": "d930c9c3-a613-4277-b411-816af00ae318",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "s_tags_table",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "s_tag_autoinc_id",
              "condition": "eq",
              "keyValue": "={{ $json.s_tag_autoinc_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "source_link",
              "fieldValue": "={{ $json.source_link }}"
            },
            {
              "fieldId": "board_id",
              "fieldValue": "={{ $json.board_id }}"
            },
            {
              "fieldId": "item_id",
              "fieldValue": "={{ $json.item_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1648,
        1424
      ],
      "id": "d3430611-146a-4713-bccc-b91191bf20c4",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "3pZY0Hn00hvx9tLf",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1872,
        1808
      ],
      "id": "d98b9a2b-daf3-4905-864a-88bd4175440f",
      "name": "Wait",
      "webhookId": "6526647e-098b-48af-98ca-6bdb9a36f5dc"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        432
      ],
      "id": "8ae31ff6-d578-474a-b2fc-2b372e9aeefc",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lead-gen-ui-v3.vercel.app/api/webhook/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"error\",\n  \"message\": \"{{ $json.execution.error.message }}\",\n  \"failed_node\": \"{{ $json.execution.lastNodeExecuted }}\",\n  \"timestamp\": \"{{ $now }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -336,
        432
      ],
      "id": "c82ffca4-05af-4fc3-9731-b95d5e3e4268",
      "name": "Error Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://lead-gen-ui-v3.vercel.app/api/webhook/status",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"Success\",\n  \"message\": \"Checked all duplicate values from Monday.com\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        1136
      ],
      "id": "91e33a31-d647-49bd-bd00-fa809c01aff2",
      "name": "Success Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nreturn body.map(item => ({\n  json: {\n    ...item\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        1808
      ],
      "id": "50c904ac-7d55-4efc-882d-21cbf94568f0",
      "name": "Tidy up the data"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-s-tags-on-monday-replica",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -560,
        1808
      ],
      "id": "fd775bd7-2341-43fa-b990-a2314c3f2b66",
      "name": "Webhook",
      "webhookId": "61835267-c780-41bb-81a6-8ce779c935b1"
    },
    {
      "parameters": {
        "url": "=https://ogzxpnwoxakynexyfvad.supabase.co/rest/v1/rpc/search_s_tag_across_all_boards_and_updates?search_keyword={{ $json.s_tag }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpMultipleHeadersAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        112,
        1328
      ],
      "id": "4e5662e2-7b8b-4579-96a4-31b808fb99f3",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "httpMultipleHeadersAuth": {
          "id": "JCKadasIFFd6No3l",
          "name": "Supabase Credentials"
        }
      },
      "notes": "Please check the query function on Supabase \"search_s_tag_across_all_boards_and_updates\""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55a06011-843e-4fd4-9ec9-88187c4f07ff",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        1808
      ],
      "id": "356f76a4-a844-4f77-a813-a26ce18764f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        1424
      ],
      "id": "5979c213-36a0-4f60-b6ba-685366f5bb84",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "affiliates",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fe043e2d-954e-4bd0-9a5f-4fdc51f6c7c1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "affiliates"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "456ba3bf-b7b9-4faa-bffc-baa63aa6aef9",
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "affiliates (via updates)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "affiliates (via updates)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "17b8d1dd-4e2b-4588-8a70-3955142f6541",
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "leads (via updates)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "leads (via updates)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38e21b16-5b6d-44b7-b218-63d7b1403610",
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "email_undelivered_leads (via updates)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email_undelivered_leads (via updates)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b0d9c7a8-86b3-4584-9300-7a7ea84c11d8",
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "not_relevant_leads (via updates)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "not_relevant_leads (via updates)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8bd516e0-18ce-46b7-bc1c-5f33bb0cd08c",
                    "leftValue": "={{ $json.source_table }}",
                    "rightValue": "s_tags_table",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Existing on Supabase"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1200,
        1168
      ],
      "id": "e5c790d2-6705-4760-8e4d-432b3e961d43",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Found on Affiliate board via Updates",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=https://roosterpartners-company.monday.com/boards/1237788929/pulses/{{ $json.item_id }}/posts/{{ $json.update_post_id }}",
              "type": "string"
            },
            {
              "id": "f1d29fde-fce4-46ee-a73c-c14760d5607b",
              "name": "board_id",
              "value": "1237788929",
              "type": "string"
            },
            {
              "id": "7e8848c6-3cf4-414c-81cc-c06c353c4c41",
              "name": "item_id",
              "value": "={{ $json.item_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        960
      ],
      "id": "10637337-21bf-4d4f-8c3f-64cbe54c4ac7",
      "name": "Set variables for Affiliates (via Updates)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Found on Affiliate board on columns",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=https://roosterpartners-company.monday.com/boards/1237788929/pulses/{{ $json.item_id }}",
              "type": "string"
            },
            {
              "id": "228f4b43-18e0-495c-9a98-2185eb0a5f09",
              "name": "board_id",
              "value": "1237788929",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        768
      ],
      "id": "fab71e5f-655d-49b5-8417-f85b5d883d88",
      "name": "Set variables for Affiliates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Found on Leads board via Updates",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=https://roosterpartners-company.monday.com/boards/1236073873/pulses/{{ $json.item_id }}",
              "type": "string"
            },
            {
              "id": "20b180b3-570f-446a-8bae-3e5177808007",
              "name": "board_id",
              "value": "1236073873",
              "type": "string"
            },
            {
              "id": "a79b4c96-6176-4bf9-aa10-eac49458135f",
              "name": "item_id",
              "value": "={{ $json.item_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1152
      ],
      "id": "b5ba9299-82f8-4aa0-b733-b8aa67c73446",
      "name": "Set variables for Leads (via Updates)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Found on Email Undelivered Leads board via Updates",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=https://roosterpartners-company.monday.com/boards/1237006289/pulses/{{ $json.item_id }}",
              "type": "string"
            },
            {
              "id": "71da10c6-ef79-4f75-9703-445db670ae71",
              "name": "board_id",
              "value": "1237006289",
              "type": "string"
            },
            {
              "id": "40a91512-899f-48b2-8261-2d810fd5c68f",
              "name": "item_id",
              "value": "={{ $json.item_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1536
      ],
      "id": "57b94cf3-03c0-49d3-b970-1604c3e6f70d",
      "name": "Set variables for Email Undelivered Leads (via updates)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Found on Not Relevant Leads board via Updates",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=https://roosterpartners-company.monday.com/boards/1237789472/pulses/{{ $json.item_id }}",
              "type": "string"
            },
            {
              "id": "fc140e0f-e719-4bde-87de-90e50c8b81b8",
              "name": "board_id",
              "value": "1237789472",
              "type": "string"
            },
            {
              "id": "c696303a-9442-4f08-a38c-4491e9882edf",
              "name": "item_id",
              "value": "={{ $json.item_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1728
      ],
      "id": "578b58a1-7c6d-4573-b6f5-2cc645843811",
      "name": "Set variables for Not Relevant Leads (via updates)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Not Found on Monday.com",
              "type": "string"
            },
            {
              "id": "2e71c0e7-67df-456d-bea0-d67a2858dd3e",
              "name": "source_link",
              "value": "N/A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1920
      ],
      "id": "08c17969-d38b-4e1c-b7ca-f1a81a81342d",
      "name": "Set variables for Not Found"
    },
    {
      "parameters": {
        "jsCode": "return [$input.first()];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        1328
      ],
      "id": "172cb553-e265-4dea-be7f-134abb2f0f05",
      "name": "Get first data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7f0f8e8-0276-4b22-9a4e-24df5cf94d1a",
              "name": "s_tag_autoinc_id",
              "value": "={{ $json.s_tag_autoinc_id }}",
              "type": "number"
            },
            {
              "id": "06fce540-b869-42b8-8d05-b392e2aa3f32",
              "name": "status",
              "value": "Already Added on Monday.com",
              "type": "string"
            },
            {
              "id": "7969f64f-affc-462c-af17-b05d549ee658",
              "name": "source_link",
              "value": "=N/A",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        1344
      ],
      "id": "f26323e4-b36b-4694-8308-8bd1c7cecadd",
      "name": "Set variables for Existing in Supabase"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "google_lead_gen_table",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Loop Over Items').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "is_on_monday",
              "fieldValue": "={{ true }}"
            },
            {
              "fieldId": "affiliate_name",
              "fieldValue": "={{ $json.affiliate_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        1168
      ],
      "id": "5bf82473-41bb-4f3d-9af3-9604ba16213a",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "3pZY0Hn00hvx9tLf",
          "name": "Supabase account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Success Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Not Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Error Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy up the data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Tidy up the data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Get first data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Set variables for Affiliates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Affiliates (via Updates)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Leads (via Updates)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Email Undelivered Leads (via updates)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Not Relevant Leads (via updates)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set variables for Existing in Supabase",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Affiliates": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Affiliates (via Updates)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Leads (via Updates)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Email Undelivered Leads (via updates)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Not Relevant Leads (via updates)": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Not Found": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get first data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables for Existing in Supabase": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8232eb06-82e9-4833-af8b-03203617576c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "70ec52cbe8e7b6f9fc2236b6bc74924c4ee7ffd65416535bf96f67e9482b67d8"
  },
  "id": "3VrZvdxjaYR2YSrH",
  "tags": []
}